<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title th:text="${data.recipe.metadata.name}">Sample recipe</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Hem</a>
                            </li>
                            <li class="breadcrumb-item active" th:text="${data.recipe.metadata.name}">
                                Chicken Ragout Soup
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <nav>
                        <div>
                            <h1 th:text="${data.recipe.metadata.name}">
                                Chicken Ragout Soup
                            </h1>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div th:if="${data.recipe.metadata.getServings()}">
                        <b>Portioner:</b> <p th:text="${data.recipe.metadata.getServings()}">10-12 st</p>
                    </div>
                    <div th:if="${data.recipe.metadata.getEstimatedPrepTime()}">
                        <b>Tillagningstid:</b> <p th:text="${data.recipe.metadata.getEstimatedPrepTime()}">30 min</p>
                    </div>
                    <div class="description-divider"></div>
                    <p th:text="${data.recipe.metadata.description}">
                        A fragrant creamy chicken soup with tarragon and fresh vegetables. It’s light yet rich with an earthy depth just when the subtle tang of the lemon and mustard surprises you. The somewhat poetic description is fitting, this sophisticated little dish won’t hang around for long, guaranteed!
                    </p>
                    <div th:if="${data.recipe.metadata.notes}">
                        <div class="description-divider"></div>
                        <p><b>Information:</b></p>
                        <p th:text="${data.recipe.metadata.notes}">
                            Tips för att se om de är klara: kolla undersidan, den ska vara gyllenbrun.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <img class="recipe-header-img rounded mx-auto d-block" alt="Recipe image" th:src="@{${data.getPresentationImage()}}" src="https://i.imgur.com/8WGBArE.png">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <h1>Ingredienser</h1>
                        <div class="description-divider"></div>
                    </div>
                    <div>
                        <ul class="ingredients">
                            <li class="ingredient" th:each="ingredient : ${data.recipe.ingredients}">
                                <span class="quantity" th:text="${data.getIngredientListAmountAndUnit(ingredient)}">400.0 grams</span>
                                <span th:text="${ingredient.description}">chicken-breast</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <h1>Instruktioner</h1>
                        <div class="description-divider"></div>
                    </div>
                    <div class="actions">
                        <div th:each="action : ${data.recipe.actions}" th:class="${data.getActionClass(action)}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-11 instruction" th:if="${data.isNumberedAction(action)}">
                                        <b><span th:text="${data.nextActionCount()}">1.</span></b>&nbsp;&nbsp;&nbsp;<span th:utext="${data.getActionDescription(action)}">Chop the onions</span>
                                    </div>
                                    <div class="col-11" th:unless="${data.isNumberedAction(action)}">
                                        <span th:utext="${data.getActionDescription(action)}">Image or Video...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>