body {
    background-color: #f9f5f5;
    letter-spacing: .0125rem;
}

.recipe-header-img {
    width: 100%;
}

.card {
    margin-bottom: 0.5em;
}

.card h1 {
    margin: 0.5em;
}

.content {
    margin: 2em;
}

.description-divider {
    border: 1px dashed #e5e5e5;
    margin-bottom: 1em;
    margin-top: 1em;
}

.recipe-image-small {
    width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.action-image-small {
    width: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.ingredients {
    padding-left: 0;
}
.ingredient {
    background-clip: border-box;
    background-color: white;
    border-radius: 0.25rem;
    list-style: none;
    margin: 0.25em;
    padding: 0.75em;
    padding-left: 1.2em;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 6%);
}

.ingredient .quantity {
    font-weight: 600;
}

.instruction .quantity {
    font-weight: 600;
}

.instruction .temperature {
    font-weight: 600;
}

.instruction .time {
    font-weight: 600;
}

.instruction .ingredientName {
    font-weight: 600;
}

.actions {

}

.action {
    background-clip: border-box;
    background-color: white;
    border-radius: 0.25rem;
    list-style: none;
    margin: 0.25em 0.25em 1em;
    padding: 0.75em 0.75em 0.75em 1.2em;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 6%);
    font-size: 1.1em;
}

.empty_action {
    background-clip: border-box;
    border-radius: 0.25rem;
    list-style: none;
    margin: 0.25em 0.25em 1em;
    padding: 0.75em 0.75em 0.75em 1.2em;
    font-size: 1.1em;
}

.oven {
    background-color: #E9DFD2;
}

@media (max-width: 640px) {
    .col {
        flex: none;
    }
}